.container {
  padding: 50px 0;
}

.cover {
  width: 100%;
}

.card {
  max-width: 968px;
  margin: 0 auto;
  padding: 30px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.09);
  background-color: white;
}

.padder {
  padding: 0 30px;
}

.heading {
  font-size: 3em;
}

.relatedPostContainer {
  max-width: 968px;
  margin: 20px auto;
}

.relatedPostWrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
}

.tag {
  margin: 0 10px;
  composes: greenText from '../../components/styles/composers.module.css';
}

@media screen and (max-width: 988px) {
  .relatedPostWrapper {
    margin: 0;
  }
}
