.headingContainer {
  text-align: center;
  margin: 50px 0 60px 0;
}

.greenText {
  composes: greenText from '../../components/styles/composers.module.css';
  text-transform: uppercase;
}

.link {
  composes: greyText from '../../components/styles/composers.module.css';
  margin: 0 10px;
}
