.title {
  composes: greyText from './composers.module.css';
}

.titleContainer {
  text-align: center;
}

.honeypot {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  margin: 5px 0;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 10px;
}

.textarea {
  composes: input;
  min-height: 150px;
}

.button {
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: #038930;
  padding: 10px;
  width: 200px;
  align-self: center;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
}
