.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 8%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.09);
  background-color: #ffffff;
}

.text {
  composes: greyText from './composers.module.css';
  margin: 0;
  font-size: 12px;
}

.iconCredit {
  composes: text;
}

@media screen and (max-width: 968px) {
  .iconCredit span {
    display: none;
  }

  .container {
    padding: 12px 5%;
  }
}
