.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 8%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.09);
  position: relative;
  background-color: #ffffff;
}

.heading {
  color: #595959;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.linkContainer {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  margin: 0;
  margin-right: 10px;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.link {
  composes: greyText from './composers.module.css';
  margin-left: 20px;
  text-transform: uppercase;
  font-size: 14px;
}

.disappearingLink {
  composes: link;
}

@media screen and (max-width: 650px) {
  .disappearingLink {
    display: none;
  }
}
