.container {
  display: flex;
}

.imageContainer {
  width: 50%;
}

.imageWrapper {
  padding: 20px;
}

.image {
  border-radius: 50%;
  overflow: hidden;
  margin: 0;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin-left: 20px;
}

.bigText {
  font-size: 2em;
  margin: 0;
}

.line {
  height: 10px;
  margin: 10px 0;
  background-color: #038930;
}

.link {
  color: #038930;
}

@media screen and (max-width: 650px) {
  .imageWrapper {
    width: 200px;
  }

  .container {
    flex-direction: column;
  }

  .imageContainer {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .textContainer {
    width: 100%;
    margin-left: 0;
  }
}
