.section {
  background-color: #f3f3f4;
}

.sectionTitle {
  composes: greyText from './composers.module.css';
}

.titleContainer {
  text-align: center;
}

.projectWrapper {
  flex-wrap: wrap;
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 1 1 240px;
  margin: 15px;
  box-sizing: border-box;
  border-radius: 5px;
  overflow: hidden;
  background-color: #ffffff;
  transition: all 0.5s ease;
}

.card:hover {
  transform: translate3D(0, -5px, 0);
  opacity: 1;
}

.card img {
  margin: 0;
}

.title {
  margin: 0;
  padding: 15px;
  composes: greyText from './composers.module.css';
}
