.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageContainer {
  width: 50%;
  display: flex;
  justify-content: center;
}

.imageWrapper {
  padding: 20px;
  width: 200px;
}

.image {
  border-radius: 50%;
  overflow: hidden;
  margin: 0;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.text {
  margin: 0;
}

.bigText {
  font-size: 2em;
  margin: 0;
}

.greenText {
  color: #038930;
}

@media screen and (max-width: 650px) {
  .textContainer {
    width: 100%;
  }
}
