.postContainer {
  box-sizing: border-box;
  display: flex;
  border-radius: 4px;
  box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06),
    1px 3px 8px rgba(39, 44, 49, 0.03);
  flex-direction: column;
  flex: 1 1 300px;
  overflow: hidden;
  background-color: white;
  margin: 0 20px 40px;
  transition: all 0.5s ease;
  min-height: 300px;
}

.postContainer a:hover {
  opacity: 1;
}

.postContainer:hover {
  transform: translate3D(0, -1px, 0);
  box-shadow: 0 0 1px rgba(39, 44, 49, 0.1), 0 3px 16px rgba(39, 44, 49, 0.07);
}

.imageContainer {
  position: relative;
  overflow: hidden;
  display: block;
}

.cover {
  width: auto;
  height: 200px;
  background: white no-repeat 50%;
  background-size: cover;
}

.textContainer {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 25px 0;
  color: #15171a;
}

.spacedText {
  font-size: 0.8rem;
  line-height: 1.15em;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.category {
  margin-bottom: 4px;
  color: #03812d;
  composes: spacedText;
  text-transform: uppercase;
}

.title {
  font-size: 1.5em;
  margin: 1.5em 0 0.5em;
  margin-top: 0;
}

.excerpt {
  margin: 0 0 1.5em;
}

.timeToRead {
  composes: spacedText;
  color: #595959;
  text-transform: uppercase;
}

@media screen and (min-width: 795px) {
  .postContainer:nth-child(6n + 1).allowFullWidth {
    flex-direction: row;
    flex: 1 1 100%;
  }

  .postContainer:nth-child(6n + 1).allowFullWidth .imageContainer {
    flex: 1 1 auto;
  }

  .postContainer:nth-child(6n + 1).allowFullWidth .imageContainer > div {
    height: 100%;
  }

  .postContainer:nth-child(6n + 1).allowFullWidth .cover {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .postContainer:nth-child(6n + 1).allowFullWidth .textContainer {
    flex: 0 1 357px;
    padding: 30px 40px 0;
  }
}
