.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.searchBox {
  width: 400px;
  max-width: 80%;
  margin-top: 10px;
  margin-left: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.09);
  border: 1px solid #038930;
  padding: 5px 10px;
}

.label {
  composes: greyText from '../../styles/composers.module.css';
}
